@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), sans-serif;
  --color-primary: #3b82f6;
  --color-primary/50: color-mix(in srgb, var(--color-primary) 5%, transparent);

  --font-family-poppins: theme(fontFamily.sans);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-primary);
    color: white;
    @apply px-6 py-3 rounded-xl font-semibold transition-all;
    @apply hover:opacity-90 active:scale-95;
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

.btn-delete {
  @apply px-4 py-2 bg-red-600 hover:bg-red-700 disabled:bg-red-400 disabled:cursor-not-allowed text-white text-sm font-medium rounded-md transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2;
}

.btn-secondary {
  @apply px-4 py-2 bg-gray-300 hover:bg-gray-400 dark:bg-gray-600 dark:hover:bg-gray-500 disabled:cursor-not-allowed text-gray-800 dark:text-white text-sm font-medium rounded-md transition-colors duration-200;
}
