@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), sans-serif;
  --color-primary: #3b82f6;
  --color-primary/50: color-mix(in srgb, var(--color-primary) 5%, transparent);

  --font-family-poppins: theme(fontFamily.sans);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-primary);
    color: white;
    @apply px-6 py-3 rounded-xl font-semibold transition-all;
    @apply hover:opacity-90 active:scale-95;
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
  }
}
